<!-- Question Item -->
<li class="bg-white shadow-md rounded-lg p-4 transition-transform transform hover:scale-105 hover:shadow-inner">
  <h2 class="text-xl font-semibold">Question 7:In Laravel, basic redirection and named route redirection seem similar.
    Why are there two different methods? <br>While both methods serve the purpose of redirecting users, they have
    different use cases:</h2>
  <p class="mt-2 text-gray-600">
  <ul class="text-gray-600">
    <li>
      <div class="container mx-auto p-5">
        <h1 class="text-2xl font-bold mb-4">Basic Redirection:</h1>

        <div class="relative bg-white pt-8 rounded shadow-md mb-4">
          <button
            class="copy-button absolute top-2 right-2 bg-gray-300 hover:bg-gray-400 text-white font-bold py-1 px-2 rounded text-xs"
            onclick="copyCode('.language-php', event)">Copy Code</button>
          <div class="tooltip" id="tooltip">Copied!</div>
          <pre>
                <code class="language-php">Route::get('/old-url', function () {
return redirect('/new-url');
});</code>
            </pre>
        </div>
      </div>
    </li>


    <li>
      <div class="container mx-auto p-5">
        <h1 class="text-2xl font-bold mb-4">Named Route Redirection:</h1>

        <div class="relative bg-white pt-8 rounded shadow-md mb-4">
          <button
            class="copy-button absolute top-2 right-2 bg-gray-300 hover:bg-gray-400 text-white font-bold py-1 px-2 rounded text-xs"
            onclick="copyCode('.language-php', event)">Copy Code</button>
          <div class="tooltip" id="tooltip">Copied!</div>
          <pre>
                    <code class="language-php">
    Route::get('/old-route', function () {
    return redirect()->route('new.route.name');
    });
    
    Route::get('/new-route', function () {
    return 'This is the new route.';
    })->name('new.route.name');

    
                  </code>
                </pre>
        </div>
      </div>
    </li>

    <ul>
      <li>This method uses a named route, making it more maintainable.</li>
      <li>
        If the URL for new.route.name changes, you only need to update it in one place, reducing the risk of errors.
      </li>
      <li>
        It enhances code readability and organization, especially in larger applications.</li>
    </ul>

    <b>Summary</b>
    <ul>
      <li>In summary, while both approaches achieve redirection, using named routes offers better maintainability and
        clarity,
        especially as applications grow or URLs change frequently.</li>
    </ul>